# Core FastAPI
fastapi==0.124.0
uvicorn[standard]==0.38.0
pydantic==2.12.5
pydantic-settings==2.12.0
email-validator==2.2.0
python-multipart==0.0.20

# Environment & Utilities
python-dotenv==1.2.1

# Firebase Authentication
firebase-admin==7.1.0

# PostgreSQL + SQLAlchemy
sqlalchemy==2.0.44
psycopg2-binary==2.9.11
alembic==1.17.2

# OpenAI LLM
openai==2.9.0
